@CHARSET "UTF-8";

body
{
	/**
	 * Cite: http://www.backgroundlabs.com/
	 */
	background-image: url("leaves1.png");
}

#inner-body
{
	background: linear-gradient(#FFFFFF, #FF9900);

	/* background: #FFFFFF; */
	
	width: 90%;
	
	padding: 25px;
	
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	
	border: 2px solid;
    border-radius: 10px;
    
    margin: 0 auto;
}

#header
{
	text-align: center;
}

#location-selector-section
{
    margin: 25px auto;
	
    border: 2px solid;
    border-radius: 10px;
    
    padding: 25px;
    
    width: 90%;
    
    max-width: 90%; 
}

#location
{
	width: 550px;
	
    border-radius: 3px;
    
    text-align: center;
    
    font-size: 80%;
}

#variable-selector-section
{
    margin: 25px auto;
	
    border: 2px solid;
    border-radius: 10px;
    
    padding: 25px;
    
    width: 90%;
    
    max-width: 90%; 
}

#variable
{
	width: 550px;
	
    border-radius: 3px;
    
    text-align: center;
    
    font-size: 80%;
}

#graph-section
{
	background: #FFFFFF;
	
    margin: 25px auto;
	
    border: 2px solid;
    border-radius: 10px;
    
    padding: 25px;
    
    width: 90%; 
    max-width: 90%; 
    
    overflow: auto;
}

#message-1
{
	font-size: 150%;
}

.orange-table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.orange-table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.orange-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.orange-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.orange-table table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.orange-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.orange-table tr:hover td{
	
}
.orange-table tr:nth-child(odd){ background-color:#e5e5e5; }
.orange-table tr:nth-child(even)    { background-color:#ffffff; }.orange-table td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:8px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.orange-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.orange-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.orange-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.orange-table tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.orange-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.orange-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.orange-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#table-section
{
    margin: 25px auto;
	
    border: 2px solid;
    border-radius: 10px;
    
    width: 90%;
    
    max-width: 90%; 
}

#thanks-section
{
    margin: 25px auto;
	
    border: 2px solid;
    border-radius: 10px;
    
    padding: 25px;
    
    width: 90%;
    
    max-width: 90%; 
}

